# Archivos de entorno
.env
.env.*
!.env.example

# Dependencias
composer.phar
vendor/
/vendor/
/node_modules/

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log
logs/

# Archivos de caché
*.cache
/cache/

# Archivos de sesión
/sessions/

# Archivos de uploads
/uploads/

/public/uploads/

# Archivos de configuración local
config/local.php
 
# Archivos de prueba
index.html
 
